<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/application.css}">
</head>
<body>
<h1 th:text="${pageTitle}" class="text-4xl mx-4 mb-4 border-b-4 border-blue-700">Taming Thymeleaf</h1>
<!--<h1 th:text="${pageTitle}" class="">Understanding Thymeleaf!</h1>-->
<!--<div th:text="${userName}">bhupendra</div>-->
<!--<div th:text="${userName}"><i>Bob</i></div>-->
<div>
    <ul>
        <li th:each="scientist : ${scientists}">
            <span th:text="${scientist}"></span>
        </li>
    </ul>
</div>
<div th:id="|container-${userId}|"></div>
<div th:if="${userId>550}">This is false!</div>
</body>
</html>