<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/application.css}">
</head>
<body>
<h1>Simple variable expression</h1>
<div>Name: <span th:text="${person1.getName}">replaced name</span></div>
<div>Age: <span th:text="${person1.getAge}">replaced age</span></div>
<br>
<br>

<div th:object="${person1}">
    <div>Name: <span th:text="*{getName}">replaced name</span></div>
    <div>Age: <span   th:text="*{age}">replaced age</span></div>
</div>
<!--<div>-->
<!--    <ul>-->
<!--        <li th:each="scientist : ${scientists}">-->
<!--            <span th:text="${scientist}"></span>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!--<div th:id="|container-${userId}|"></div>-->
<!--<div th:if="${userId>550}">This is false!</div>-->
</body>
</html>
